{% extends 'base.html' %}

{% block meta %}
    <title>Azmuh Global</title>
{% endblock meta %}

{% block content %}
    <style>
        body {
            background-color: black;
            color: white;
            font-family: 'Futura';
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Menggunakan tinggi 100vh untuk mengisi seluruh tinggi viewport */
        }

        h1,
        h5 {
            font-weight: bold;
        }

        table {
            background-color: black;
            border-collapse: separate; /* Membuat lekukan pada ujung tabel */
            border-spacing: 10 10px; /* Mengatur jarak antar baris */
        }

        table th,
        table td {
            padding: 10px 10px; /* Mengatur padding pada sel tabel */
            border-radius: 15px; /* Mengatur sudut elemen tabel */
        }
    </style>

    <div class="container mt-5">
        <h1 class="text-center">Azmuh Global Page</h1>

        <div class="row mt-4">
            <div class="col-md-6">
                <h5>Name:</h5>
                <p>{{name}}</p>

                <h5>NPM:</h5>
                <p>{{npm}}</p>

                <h5>Class:</h5>
                <p>{{class}}</p>
            </div>
            <div class="col-md-6">
                <h5>Total Items:</h5>
                <p>{{amount_items}}</p>

                <h5>Sesi terakhir login:</h5>
                <p>{{ last_login }}</p>
            </div>
        </div>

        <table class="table table-bordered mt-5">
            <thead class="bg-dark text-light">
                <tr>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Description</th>
                    <th>Date Added</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{item.name}}</td>
                        <td>{{item.amount}}</td>
                        <td>{{item.description}}</td>
                        <td>{{item.date_added}}</td>
                        <td>
                            <a href="{% url 'main:edit_item' item.pk %}" class="btn btn-warning btn-sm">
                                Edit
                            </a>
                            <a href="{% url 'main:delete_item' item.pk %}" class="btn btn-danger btn-sm">
                                Delete
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="text-center mt-3">
            <a href="{% url 'main:create_item' %}" class="btn btn-success">
                Add New Item
            </a>

            <a href="{% url 'main:logout' %}" class="btn btn-primary">
                Logout
            </a>
        </div>
    </div>
{% endblock content %}
