{% extends 'base.html' %}

{% block meta %}
    <title>Register</title>
{% endblock meta %}

{% block content %}
<style>
    body {
        background-color: black;
        color: white;
        font-family: 'Futura';
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .register {
        text-align: center;
    }

    h1 {
        font-weight: bold;
        margin-bottom: 20px;
    }

    /* Animasi tombol */
    .register_btn {
        background-color: white;
        color: blue;
        transition: background-color 0.3s, color 0.3s;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        margin-top: 20px;
        width: 100%;
    }

    .register_btn:hover {
        background-color: blue;
        color: white;
    }

    table {
        margin: 30px auto; /* Atur jarak atas dan bawah */
        text-align: left;
    }

    table tr {
        margin-bottom: 20px; /* Menambahkan jarak antara baris */
    }

    table td:first-child {
        width: 30%; /* Menyesuaikan lebar kolom */
    }

    label {
        display: block;
        margin-bottom: 5px; /* Memberikan jarak antara label dan input */
    }

    .register-btn-container {
        text-align: center; /* Atur tombol "Register" menjadi berada di tengah */
    }
</style>

<div class="register">
    <h1>Register</h1>

    <form method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
            <tr>
                <td></td>
                <td><input class="btn register_btn" type="submit" value="Daftar"></td>
            </tr>
        </table>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>

{% endblock content %}
